mixin button(params)
  //- type = ["primary", "secondary"]
  - var {name, type="primary", href, icon, size="m", hovered = false} = params
  - var className = `button button--${type} button--size-${size}`
  if hovered
    - className += " button--hovered"
  if icon
    - className = `${className} button--with-icon`
  if href
    a(class= className href= href)
      span.button__wrapper= name
        if icon
          i.material-icons= icon
  else
    button(class= className type="button")&attributes(attributes)
      span.button__wrapper= name
        if icon
          i.material-icons= icon