extends ../../layouts/default-layout
include ../../blocks/dialog/dialog
include ../../blocks/input/input
include ../../blocks/button/button
include ../../blocks/room-gallery/room-gallery
include ../../blocks/bullet-list/bullet-list
include ../../blocks/features-list/features-list
include ../../blocks/comment/comment
include ../../blocks/pie-chart/pie-chart
include ../../blocks/price/price
include ../../blocks/date-dropdown/date-dropdown
include ../../blocks/select-counter/select-counter
include ../../mixins

block head
  - var title = "Информация о номере 888";

block footer
  - var isUnderlined = true

block logo
  - var isMainPage = false

block content
  -
    var roomImages = [
      {src: "assets/img/888/1.jpg", alt: "Комната в бежевых тонах. Посередине двуспальная кровать. Перед ней пуфик с узором 'морской огурец' бирюзового цвета"},
      {src: "assets/img/888/2.jpg", alt: "Кабинет с односпальной кроватью. Слева от входа стол"},
      {src: "assets/img/888/3.jpg", alt: "Гостинная с 2 креслами и стеклянным круглым столом. Большие окна"}
    ]
  -
    var rules = [
      "Нельзя с питомцами",
      "Без вечеринок и мероприятий",
      "Время прибытия — после 13:00, а&#160;выезд до 12:00"
    ]
  -
    var features = [
      {icon: "insert_emoticon", title: "Комфорт", subtitle: "Шумопоглощающие стены"},
      {icon: "location_city", title: "Удобство", subtitle: "Окно в каждой из спален"},
      {icon: "whatshot", title: "Уют", subtitle: "Номер оснащён камином"},
    ]

  -
    var fiveDaysAgo = new Date().setDate(new Date().getDate() - 5)
    var weekAgo = new Date().setDate(new Date().getDate() - 7)

    var comments = [
      {
        userName: "Мурад Сарафанов",
        userAvatar: "assets/img/avatars/man.jpg",
        date: fiveDaysAgo,
        message: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
        likeOptions: {
          count: 12,
          liked: true,
        }
      },
      {
        userName: "Патрисия Стёклышкова",
        userAvatar: "assets/img/avatars/woman.jpg",
        date: weekAgo,
        message: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент",
        likeOptions: {
          count: 2,
          liked: false,
        }
      },
    ]

  main.room-page
    h1.visually-hidden Информация о номере 888
    +room-gallery(roomImages)
    .container
      .room-description
        .room-description__column
          .room-description__group
            section.room-description__item.description-block
              h2.description-block__title Сведения о номере
              +features-list(features)

            section.room-description__item.description-block
              h2.description-block__title Впечатления от номера
              +pie-chart({perfect: 130, good: 65, satisfactorily: 65})

          .room-description__group
            section.room-description__item.description-block
              h2.description-block__title Отзывы посетителей номера
                span.description-block__counter
                  != `${comments.length}&nbsp;`
                  +declOfNum(comments.length, ["отзыв", "отзыва", "отзывов"])
              ul.comments-list
                for comment in comments
                  li.comments-list__item
                    +comment(comment)

          .room-description__group
            section.room-description__item.description-block.description-block--width-292.description-block--gap-70
              h2.description-block__title.description-block__title--gap-m Правила
              +bullet-list(rules)
            section.room-description__item.description-block.description-block--width-341
              h2.description-block__title Отмена
              p.description-block__paragraph
                | Бесплатная отмена в течение 48 ч. 
                | После этого при отмене не позднее чем за 5 дн. до прибытия
                | вы получите полный возврат за вычетом сбора за услуги.
        .room-description__column
          - var today = new Date()
          - var todayYY = today.getFullYear()
          - var todayMM = today.getMonth() + 1 < 10 ? `0${today.getMonth() + 1}` : today.getMonth() + 1
          - var todayDD = today.getDate() < 10 ? `0${today.getDate()}` : today.getDate()
          - var minDate = `${todayYY}-${todayMM}-${todayDD}`
          - var maxDate = `${todayYY + 1}-${todayMM}-${todayDD}`
          -
            var items = [
              {title: "Взрослые", count: 2, countWord: "Гости"},
              {title: "Дети", count: 1, countWord: "Гости"},
              {title: "Младенцы", count: 0},
            ]
          .room-description__card.room-description__card--fixed
            +dialog({number: "888", isLux: true, cost: 9990})
              .dialog__form-group.dialog__form-group--gap-21.dialog__form-group--period
                +date-dropdown({split: true, start: new Date(2020, 7, 19), end: new Date(2020, 7, 23)})
              .dialog__form-group.dialog__form-group--gap-10
                +select-counter({items, label: "Гости", name: "guestCount", required: true, placeholder: "Сколько гостей", withButtons: true})
              .dialog__form-group.dialog__form-group--gap-10
                +price({roomCost: 9990, days: 4, servicesCost: -2179, additional: 300})
              +button({name: "Забронировать", icon: "arrow_forward", size: "l"})(type="submit")