mixin range-slider(options)
  - var {label = "", description = "", unit = "", from = 0, to = 0, max = 0, min = 0 } = options
  - var newFrom = `${from.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "&nbsp;")}${unit}`
  - var newTo = `${to.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "&nbsp;")}${unit}`

  .range-slider
    label.range-slider__label
      p.range-slider__heading
        span.range-slider__tagline= label
        span.range-slider__caption!= `${newFrom} - ${newTo}`
      input.range-slider__input(
        type="text"
        name="costRange"
        value=""
        data-postfix= unit
        data-min= min
        data-max= max
        data-from= from
        data-to= to
      )
    if description
      p.range-slider__description= description