include ../button/button
include ../hamburger-menu/hamburger-menu

-
  var navItems = [
    { title: "О нас", href: "javascript:void(0)" },
    { title: "Услуги", href: "javascript:void(0)", children: [
      { title: "Баня и сауна", href: "javascript:void(0)" },
      { title: "SPA-программа", href: "javascript:void(0)" },
      { title: "Массаж", href: "javascript:void(0)" },
      { title: "Бассейн", href: "javascript:void(0)" },
    ] },
    { title: "Вакансии", href: "javascript:void(0)" },
    { title: "Новости", href: "javascript:void(0)" },
    { title: "Соглашения", href: "javascript:void(0)", children: [
      { title: "Соглашение об обработке персональных данных", href: "javascript:void(0)" },
      { title: "Публичная оферта", href: "javascript:void(0)" },
    ] },
  ]

if currentPage
  -
    navItems.forEach((item) => {
      if (item.title === currentPage) {
        item.active = true
      } else {
        item.active = false
      }
    })

mixin getNavigationItem(navItem)
  li(class= navItem.active ? "site-navigation__item js-site-navigation__item site-navigation__item--active" : "site-navigation__item js-site-navigation__item")
    if navItem.active || navItem.children
      .site-navigation__item-link= navItem.title
        if navItem.children
          i.material-icons expand_more
    else
      a.site-navigation__item-link(href= navItem.href)= navItem.title
    //- if navItem.children
      ul.site-navigation__dropdown.js-site-navigation__dropdown
        for child in navItem.children
          li.site-navigation__dropdown-item
            a.site-navigation__dropdown-link(href= child.href)= child.title

mixin getNavigation(navItems)
  ul.header__site-navigation.site-navigation
    for navItem in navItems
      +getNavigationItem(navItem)

header.header
  .container
    nav.header__navigation
      include ../logo/logo
      +getNavigation(navItems)
      if user
        .header__user= user
      else
        ul.header__user-navigation
          li.user-navigation__item
            +button({name: "Войти", type: "secondary", href: "signin.html"})
          li.user-navigation__item
            +button({name: "Зарегистрироваться", href: "registration.html"})
    nav.header__navigation.header__navigation--for-mobile
      .header__row.header__row--mobile
        include ../logo/logo
        +hamburger-menu()
      .header__navigation-wrapper
        +getNavigation(navItems)
        if user
          .header__user= user
        else
          ul.header__user-navigation
            li.user-navigation__item
              +button({name: "Войти", type: "secondary", href: "signin.html"})
            li.user-navigation__item
              +button({name: "Зарегистрироваться", href: "registration.html"})