include ../calendar/calendar

mixin date-dropdown(options)
  - var {start, end, startLabel= "Прибытие", endLabel= "Выезд", label= "Даты пребывания в отеле", split = false} = options
  - var monthes = ["янв", "фев", "мар", "апр", "май", "июн", "июл", "авг", "сен", "окт", "ноя", "дек"]

  if start && end
    - var startDD = start.getDate() < 10 ? `0${start.getDate()}` : start.getDate()
    - var startMM = start.getMonth() + 1 < 10 ? `0${start.getMonth() + 1}` : start.getMonth() + 1
    - var startYYYY = start.getFullYear()
    - var startDateString = `${startDD}.${startMM}.${startYYYY}`

    - var endDD = end.getDate() < 10 ? `0${end.getDate()}` : end.getDate()
    - var endMM = end.getMonth() + 1 < 10 ? `0${end.getMonth() + 1}` : end.getMonth() + 1
    - var endYYYY = end.getFullYear()
    - var endDateString = `${endDD}.${endMM}.${endYYYY}`

    - var periodDateString = `${start.getDate()} ${monthes[start.getMonth()]} – ${end.getDate()} ${monthes[end.getMonth()]}`

  -
    var dropdownButton = {
      icon: "expand_more",
      type: "button",
      title: "Показать календарь",
    }
  
    var inputsData = split
      ? [{label: startLabel, value: startDateString}, {label: endLabel, value: endDateString}]
      : [{label: label, value: periodDateString}]

  .date-dropdown.js-date-dropdown
    for inputDataItem, index in inputsData
      .date-dropdown__item(class= (index === inputsData.length - 1) ? "" : "date-dropdown__item--gap-m")
        label.date-dropdown__wrapper
          .date-dropdown__label= inputDataItem.label
          .date-dropdown__input-wrapper
            button.date-dropdown__button(type="button")
              span.visually-hidden Показать календарь
              i.material-icons expand_more
            input.date-dropdown__input.date-dropdown__input--with-icon(value=inputDataItem.value placeholder="ДД.ММ.ГГГГ" name="arrival" required)
            //- click-area для работы js, тк если input disabled не срабатывает событие клика на inputs-wrapper 
            .date-dropdown__click-area
    .date-dropdown__datepicker
      +calendar()